<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category.capitalize %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>


<%= link_to 'Back to restaurants', restaurants_path %>
